body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EADFD0;
    color: #3E322C;
    margin: 0;
    overflow-x: hidden;
}

footer {
    background-color: #3E322C;
    color: #EADFD0;
    text-align: center;
    padding: 1rem 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}