.resume-content {
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
}

.resume-content h2 {
    color: #A67C52;
    margin-top: 30px;
}

.resume-content ul, .resume-content p {
    color: #3E322C;
    line-height: 1.6;
}

.resume-content ul {
    padding-left: 20px;
}

.resume-content li {
    margin-bottom: 8px;
}